{{ $footerImage := "https://static.igem.wiki/teams/5057/footer-background.svg" | relURL }}
<footer class="bottom-0 w-100 relative" style="background-image: url('{{ $footerImage }}');background-size: cover; background-position: center; height: 600px;">
  <div class="justify-between bottom-0 w-100 absolute">
    <div class="slider-footer">
      <div class="slider-track">

        <div class="slide-footer">
          <a href="https://www.cibss.uni-freiburg.de">
          <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/cibss.png">
          </a>
        </div>

        <div class="slide-footer">
          <a href="https://www.bioss.uni-freiburg.de">
          <img id="slide-picture2" src="https://static.igem.wiki/teams/5057/sponsor/bioss.png">
          </a>
        </div>

        <div class="slide-footer">
          <a href="https://uni-freiburg.de">
          <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/unifreiburg.png">
          </a>
      </div>

        <div class="slide-footer">
                    <a href="https://eu.idtdna.com/pages">
                    <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/idt.png">
                    </a>
      </div>

       <div class="slide-footer">
        <a href="https://www.promega.de/">
        <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/promega-logo.png">
        </a>
      </div>

      <div class="slide-footer">
        <a href="https://lipoid.com/en/">
        <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/lipoid-new.svg">
        </a>
      </div>

      <div class="slide-footer">
        <a href="https://genovac.com/">
        <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/genovac-logo.png">
        </a>
      </div>

      <div class="slide-footer">
        <a href="https://www.snapgene.com">
        <img id="slide-picture2" src="https://static.igem.wiki/teams/5057/sponsor/snapgene.png">
        </a>
    </div>

        <div class="slide-footer">
            <a href="https://www.neb-online.de">
            <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/neb.png">
            </a>
        </div>
        
        <div class="slide-footer">
            <a href="https://www.roche.de">
            <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/roche.png">
            </a>
        </div>

        <div class="slide-footer">
          <a href="https://www.unveil.bio/">
          <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/unveil-new.png">
          </a>
      </div>

      <div class="slide-footer">
        <a href="https://www.genscript.com/">
        <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/genscript-new.png">
        </a>
    </div>

    <div class="slide-footer">
      <a href="https://www.dwk.com/">
      <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/dwk-logo.png">
      </a>
  </div>

  <div class="slide-footer">
    <a href="https://www.ratiolab.com/">
    <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/ratiolab-logo.svg">
    </a>
</div>

<div class="slide-footer">
  <a href="https://www.biomol.com/de/">
  <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/biomol-new.png">
  </a>
</div>


      
      <!-- second set of sponsors -->
      <div class="slide-footer">
        <a href="https://www.cibss.uni-freiburg.de">
        <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/cibss.png">
        </a>
      </div>

      <div class="slide-footer">
        <a href="https://www.bioss.uni-freiburg.de">
        <img id="slide-picture2" src="https://static.igem.wiki/teams/5057/sponsor/bioss.png">
        </a>
      </div>

      <div class="slide-footer">
        <a href="https://uni-freiburg.de">
        <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/unifreiburg.png">
        </a>
    </div>

      <div class="slide-footer">
                  <a href="https://eu.idtdna.com/pages">
                  <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/idt.png">
                  </a>
    </div>

     <div class="slide-footer">
      <a href="https://www.promega.de/">
      <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/promega-logo.png">
      </a>
    </div>

    <div class="slide-footer">
      <a href="https://lipoid.com/en/">
      <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/lipoid-new.svg">
      </a>
    </div>

    <div class="slide-footer">
      <a href="https://genovac.com/">
      <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/genovac-logo.png">
      </a>
    </div>

    <div class="slide-footer">
      <a href="https://www.snapgene.com">
      <img id="slide-picture2" src="https://static.igem.wiki/teams/5057/sponsor/snapgene.png">
      </a>
  </div>

      <div class="slide-footer">
          <a href="https://www.neb-online.de">
          <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/neb.png">
          </a>
      </div>
      
      <div class="slide-footer">
          <a href="https://www.roche.de">
          <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/roche.png">
          </a>
      </div>

      <div class="slide-footer">
        <a href="https://www.unveil.bio/">
        <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/unveil-new.png">
        </a>
    </div>

    <div class="slide-footer">
      <a href="https://www.genscript.com/">
      <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/genescript-logo.png">
      </a>
  </div>

  <div class="slide-footer">
    <a href="https://www.dwk.com/">
    <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/dwk-logo.png">
    </a>
</div>

<div class="slide-footer">
  <a href="https://www.ratiolab.com/">
  <img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/ratiolab-logo.svg">
  </a>
</div>

<div class="slide-footer">
<a href="https://www.biomol.com/de/">
<img id="slide-picture" src="https://static.igem.wiki/teams/5057/sponsor/biomol-new.png">
</a>
</div>
    </div>
 </div>
 <div class="flex justify-between items-end white" style="font-size: clamp(1rem, 1.5vw, 8rem)">
    <p class="pl3">
      <a href = "https://gitlab.igem.org/2024/freiburg" class="no-underline white">
        gitlab.igem.org/2024/freiburg
      </a>
    | Creative Commons Attribution 4.0 License
    </p>
    <div class="pr3">
        {{ partial "social-follow.html" . }}
    </div>
 </div> 
</footer>

