<!-- TABLE DESIGN FOR BIG SCREENS -->

<div class="full-width-table">  
  <table>
    
    <!-- row 1 -->
    <tr>
      <!-- 1 --><td></td>
      <!-- 2 --><td class="has-popup plasmidsbox" onclick="openPopup('{{ .Get "gensch" }}', '{{ .Get "t-gensch" }}', '{{ .Get "p-gensch" }}', '{{ .Get "i-gensch" }}')">{{ .Get "gensch" }}</td>
      <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s4f.svg"></td>
      <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lhf.svg"></td>
      <!-- 5 --><td style="color: #f51889">Principal Investigators</td>
      <!-- 6 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c1f.svg"></td>
      <!-- 7 --><td></td>
      <!-- 8 --><td></td>
      <!-- 9 --><td></td>
      <!-- 10 --><td></td>
      <!-- 11 --><td></td>
      <!-- 12 --><td></td>
      <!-- 13 --><td></td>
      <!-- 14 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c4l.svg"></td>
      <!-- 15 --><td class="has-popup modelingbox" onclick="openPopup('{{ .Get "walentek" }}', '{{ .Get "t-walentek" }}', '{{ .Get "p-walentek" }}', '{{ .Get "i-walentek" }}')">{{ .Get "walentek" }}</td>
    </tr>

    <!-- row 2 -->
    <tr>
      <!-- 1 --><td></td>
      <!-- 2 --><td class="has-popup plasmidsbox" onclick="openPopup('{{ .Get "salavei" }}', '{{ .Get "t-salavei" }}', '{{ .Get "p-salavei" }}', '{{ .Get "i-salavei" }}')">{{ .Get "salavei" }}</td>
      <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c2f.svg"></td>
      <!-- 4 --><td class="has-popup plasmidsbox" onclick="openPopup('{{ .Get "hess" }}', '{{ .Get "t-hess" }}', '{{ .Get "p-hess" }}', '{{ .Get "i-hess" }}')">{{ .Get "hess" }}</td>
      <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lhf.svg"></td>
      <!-- 6 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/t4f.svg"></td>
      <!-- 7 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/plasmids.svg"></td>
      <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c1f.svg"></td>
      <!-- 9 --><td></td>
      <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c4l.svg"></td>
      <!-- 11 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/modeling.svg"></td>
      <!-- 12 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lhl.svg"></td>
      <!-- 13 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lhl.svg"></td>
      <!-- 14 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/t3l.svg"></td>
      <!-- 15 --><td class="has-popup modelingbox" onclick="openPopup('{{ .Get "helmstaedter" }}', '{{ .Get "t-helmstaedter" }}', '{{ .Get "p-helmstaedter" }}', '{{ .Get "i-helmstaedter" }}')">{{ .Get "helmstaedter" }}</td>
    </tr>

    <!-- row 3 -->
    <tr>
      <!-- 1 --><td class="has-popup liposomesbox" onclick="openPopup('{{ .Get "roemer" }}', '{{ .Get "t-roemer" }}', '{{ .Get "p-roemer" }}', '{{ .Get "i-roemer" }}')">{{ .Get "roemer" }}</td>
      <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c1t.svg"></td>
      <!-- 3 --><td></td>
      <!-- 4 --><td class="has-popup plasmidsbox" onclick="openPopup('{{ .Get "wimley" }}', '{{ .Get "t-wimley" }}', '{{ .Get "p-wimley" }}', '{{ .Get "i-wimley" }}')">{{ .Get "wimley" }}</td>
      <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lhf.svg"></td>
      <!-- 6 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s6f.svg"></td>
      <!-- 7 --><td></td>
      <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lvf.svg"></td>
      <!-- 9 --><td></td>
      <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lvl.svg"></td>
      <!-- 11 --><td></td>
      <!-- 12 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c4b.svg"></td>
      <!-- 13 --><td class="has-popup safetybox" onclick="openPopup('{{ .Get "boldt" }}', '{{ .Get "t-boldt" }}', '{{ .Get "p-boldt" }}', '{{ .Get "i-boldt" }}')">{{ .Get "boldt" }}</td>
      <!-- 14 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c3l.svg"></td>
      <!-- 15 --><td class="has-popup modelingbox" onclick="openPopup('{{ .Get "dzubiella" }}', '{{ .Get "t-dzubiella" }}', '{{ .Get "p-dzubiella" }}', '{{ .Get "i-dzubiella" }}')">{{ .Get "dzubiella" }}</td>
    </tr>

    <!-- row 4 -->
    <tr>
      <!-- 1 --><td class="has-popup liposomesbox" onclick="openPopup('{{ .Get "munos" }}', '{{ .Get "t-munos" }}', '{{ .Get "p-munos" }}', '{{ .Get "i-munos" }}')">{{ .Get "munos" }}</td>
      <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s3t.svg"></td>
      <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c1t.svg"></td>
      <!-- 4 --><td class="has-popup plasmidsbox" onclick="openPopup('{{ .Get "heerklotz" }}', '{{ .Get "t-heerklotz" }}', '{{ .Get "p-heerklotz" }}', '{{ .Get "i-heerklotz" }}')">{{ .Get "heerklotz" }}</td>
      <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lhf.svg"></td>
      <!-- 6 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c2f.svg"></td>
      <!-- 7 --><td></td>
      <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lvf.svg"></td>
      <!-- 9 --><td></td>
      <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s8lb.svg"></td>
      <!-- 11 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/safety-and-ethics.svg"></td>
      <!-- 12 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s1b.svg"></td>
      <!-- 13 --><td class="has-popup safetybox" onclick="openPopup('{{ .Get "kurreck" }}', '{{ .Get "t-kurreck" }}', '{{ .Get "p-kurreck" }}', '{{ .Get "i-kurreck" }}')">{{ .Get "kurreck" }}</td>
      <!-- 14 --><td></td>
      <!-- 15 --><td></td>
    </tr>

    <!-- row 5 -->
    <tr>
      <!-- 1 --><td class="has-popup liposomesbox" onclick="openPopup('{{ .Get "makshakova" }}', '{{ .Get "t-makshakova" }}', '{{ .Get "p-makshakova" }}', '{{ .Get "i-makshakova" }}')">{{ .Get "makshakova" }}</td>
      <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lht.svg"></td>
      <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/t4t.svg"></td>
      <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lht.svg"></td>
      <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lht.svg"></td>
      <!-- 6 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lht.svg"></td>
      <!-- 7 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/liposome.svg"></td>
      <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/t4ftt.svg"></td>
      <!-- 9 --><td><img src="https://static.igem.wiki/teams/5057/logo-lightmode.svg"></td>
      <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/t3byr.svg"></td>
      <!-- 11 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/treat.svg"></td>
      <!-- 12 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lhy.svg"></td>
      <!-- 13 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s2y.svg"></td>
      <!-- 14 --><td class="has-popup treatmentbox" onclick="openPopup('{{ .Get "tuemmler" }}', '{{ .Get "t-tuemmler" }}', '{{ .Get "p-tuemmler" }}', '{{ .Get "i-tuemmler" }}')">{{ .Get "tuemmler" }}</td>
      <!-- 15 --><td>
    </tr>

    <!-- row 6 -->
    <tr>
      <!-- 1 --><td class="has-popup liposomesbox" onclick="openPopup('{{ .Get "heerklotz" }}', '{{ .Get "t-heerklotz" }}', '{{ .Get "p-heerklotz" }}', '{{ .Get "i-heerklotz" }}')">{{ .Get "heerklotz" }}</td>
      <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s4t.svg"></td>
      <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c2t.svg"></td>
      <!-- 4 --><td></td>
      <!-- 5 --><td class="has-popup liposomesbox" onclick="openPopup('{{ .Get "hessj" }}', '{{ .Get "t-hessj" }}', '{{ .Get "p-hessj" }}', '{{ .Get "i-hessj" }}')">{{ .Get "hessj" }}</td>
      <!-- 6 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c1t.svg"></td>
      <!-- 7 --><td></td>
      <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lvt.svg"></td>
      <!-- 9 --><td></td>
      <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lvr.svg"></td>
      <!-- 11 --><td></td>
      <!-- 12 --><td></td>
      <!-- 13 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c3y.svg"></td>
      <!-- 14 --><td class="has-popup treatmentbox" onclick="openPopup('{{ .Get "reski" }}', '{{ .Get "t-reski" }}', '{{ .Get "p-reski" }}', '{{ .Get "i-reski" }}')">{{ .Get "reski" }}</td>
      <!-- 15 --><td></td>
    </tr>

    <!-- row 7 -->
    <tr>
       <!-- 1 --><td class="has-popup liposomesbox" onclick="openPopup('{{ .Get "ruppl" }}', '{{ .Get "t-ruppl" }}', '{{ .Get "p-ruppl" }}', '{{ .Get "i-ruppl" }}')">{{ .Get "ruppl" }}</td>
      <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s6t.svg"></td>
      <!-- 3 --><td class="has-popup omvsbox" onclick="openPopup('{{ .Get "putnam" }}', '{{ .Get "t-putnam" }}', '{{ .Get "p-putnam" }}', '{{ .Get "i-putnam" }}')">{{ .Get "putnam" }}</td>
      <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c1o.svg"></td>
      <!-- 5 --><td class="has-popup liposomesbox" onclick="openPopup('{{ .Get "ramasamy" }}', '{{ .Get "t-ramasamy" }}', '{{ .Get "p-ramasamy" }}', '{{ .Get "i-ramasamy" }}')">{{ .Get "ramasamy" }}</td>
      <!-- 6 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/t4t.svg"></td>
      <!-- 7 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lnp.svg"></td>
      <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s6to.svg"></td>
      <!-- 9 --><td></td>
      <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lvr.svg"></td>
      <!-- 11 --><td></td>
      <!-- 12 --><td></td>
      <!-- 13 --><td></td>
      <!-- 14 --><td></td>
      <!-- 15 --><td></td>
    </tr>

    <!-- row 8 -->
    <tr>
      <!-- 1 --><td class="has-popup liposomesbox" onclick="openPopup('{{ .Get "bender" }}', '{{ .Get "t-bender" }}', '{{ .Get "p-bender" }}', '{{ .Get "i-bender" }}')">{{ .Get "bender" }}</td>
      <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c2t.svg"></td>
      <!-- 3 --><td class="has-popup omvsbox" style="font-size: 14px" onclick="openPopup('{{ .Get "mueller" }}', '{{ .Get "t-mueller" }}', '{{ .Get "p-mueller" }}', '{{ .Get "i-mueller" }}')">{{ .Get "mueller" }}</td>
      <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s5o.svg"></td>
      <!-- 5 --><td class="has-popup liposomesbox" onclick="openPopup('{{ .Get "kirchmair" }}', '{{ .Get "t-kirchmair" }}', '{{ .Get "p-kirchmair" }}', '{{ .Get "i-kirchmair" }}')">{{ .Get "kirchmair" }}</td>
      <!-- 6 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s6t.svg"></td>
      <!-- 7 --><td></td>
      <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lvo.svg"></td>
      <!-- 9 --><td></td>
      <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s7rw.svg"></td>
      <!-- 11 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/healthcare-and-prevention.svg"></td>
      <!-- 12 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lhr.svg"></td>
      <!-- 13 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lhr.svg"></td>
      <!-- 14 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s2r.svg"></td>
      <!-- 15 --><td class="has-popup healthcarebox" onclick="openPopup('{{ .Get "grundmann" }}', '{{ .Get "t-grundmann" }}', '{{ .Get "p-grundmann" }}', '{{ .Get "i-grundmann" }}')">{{ .Get "grundmann" }}</td>
    </tr>

    <!-- row 9 -->
    <tr>
      <!-- 1 --><td></td>
      <!-- 2 --><td class="has-popup omvsbox" onclick="openPopup('{{ .Get "delisa" }}', '{{ .Get "t-delisa" }}', '{{ .Get "p-delisa" }}', '{{ .Get "i-delisa" }}')">{{ .Get "delisa" }}</td>
      <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lho.svg"></td>
      <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s5o.svg"></td>
      <!-- 5 --><td class="has-popup liposomesbox" onclick="openPopup('{{ .Get "germer" }}', '{{ .Get "t-germer" }}', '{{ .Get "p-germer" }}', '{{ .Get "i-germer" }}')">{{ .Get "germer" }}</td>
      <!-- 6 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c2t.svg"></td>
      <!-- 7 --><td></td>
      <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lvo.svg"></td>
      <!-- 9 --><td></td>
      <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lvw.svg"></td>
      <!-- 11 --><td></td>
      <!-- 12 --><td></td>
      <!-- 13 --><td></td>
      <!-- 14 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c3r.svg"></td>
      <!-- 15 --><td class="has-popup healthcarebox" onclick="openPopup('{{ .Get "rieg" }}', '{{ .Get "t-rieg" }}', '{{ .Get "p-rieg" }}', '{{ .Get "i-rieg" }}')">{{ .Get "rieg" }}</td>
    </tr>

    <!-- row 10 -->
    <tr>
      <!-- 1 --><td class="has-popup omvsbox" onclick="openPopup('{{ .Get "rabe" }}', '{{ .Get "t-rabe" }}', '{{ .Get "p-rabe" }}', '{{ .Get "i-rabe" }}')">{{ .Get "rabe" }}</td>
      <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c1o.svg"></td>
      <!-- 3 --><td class="has-popup omvsbox" onclick="openPopup('{{ .Get "huang" }}', '{{ .Get "t-huang" }}', '{{ .Get "p-huang" }}', '{{ .Get "i-huang" }}')">{{ .Get "huang" }}</td>
      <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s5o.svg"></td>
      <!-- 5 --><td></td>
      <!-- 6 --><td></td>
      <!-- 7 --><td></td>
      <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lvo.svg"></td>
      <!-- 9 --><td></td>
      <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lvw.svg"></td>
      <!-- 11 --><td></td>
      <!-- 12 --><td></td>
      <!-- 13 --><td></td>
      <!-- 14 --><td></td>
      <!-- 15 --><td></td>
    </tr>

    <!-- row 11 -->
    <tr>
      <!-- 1 --><td class="has-popup omvsbox" onclick="openPopup('{{ .Get "kirpat" }}', '{{ .Get "t-kirpat" }}', '{{ .Get "p-kirpat" }}', '{{ .Get "i-kirpat" }}')">{{ .Get "kirpat" }}</td>
      <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s3o.svg"></td>
      <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lho.svg"></td>
      <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/s3o.svg"></td>
      <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lho.svg"></td>
      <!-- 6 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lho.svg"></td>
      <!-- 7 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/omv.svg"></td>
      <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c2o.svg"></td>
      <!-- 9 --><td></td>
      <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/c3w.svg"></td>
      <!-- 11 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/the-need.svg"></td>
      <!-- 12 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lhw.svg"></td>
      <!-- 13 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lhw.svg"></td>
      <!-- 14 --><td><img src="https://static.igem.wiki/teams/5057/hpmap/lhw.svg"></td>
      <!-- 15 --><td class="has-popup needbox" onclick="openPopup('{{ .Get "dambach" }}', '{{ .Get "t-dambach" }}', '{{ .Get "p-dambach" }}', '{{ .Get "i-dambach" }}')">{{ .Get "dambach" }}</td>
    </tr>
  </table>
</div>

<!-- DROPDOWN DESIGN FOR SMALL SCREENS -->

<!-- Plasmids -->
<div class="container human-practices">
  <h3 class="plasmids">Plasmids</h3>
  {{ $params := .Params }}
  {{ $keys := slice "gensch" "salavei" "hess" "wimley" "heerklotz" }} 
  {{ range $keys }}
    {{ $name := index $params . }}
    {{ $text := index $params (printf "t-%s" .) | safeHTML }}
    {{ $portraitUrl := index $params (printf "p-%s" .) }}  
    {{ $icons := index $params (printf "i-%s" .) }}   
    <div class="drop drop-plasmids" onclick="toggleDescription(this)">
      {{ $name }}
      <button class="toggle-btn">+</button>
    </div>
    <div class="description">
      <div class="portrait-container">
        <img src="{{ $portraitUrl }}" alt="Portrait" class="portrait">
        <div class="icons">
          {{ $iconList := split $icons ", " }} <!-- Note the space after the comma -->
          {{ range $iconList }}
            {{ $iconParts := split . "|" }}
            <a href="{{ index $iconParts 1 }}" target="_blank">
              <img src="{{ index $iconParts 0 }}" alt="Icon" class="icon">
            </a>
          {{ end }}
        </div>
      </div>
      <p>{{ $text }}</p>
    </div>
  {{ end }}
</div>

<!-- Liposomes and Lipid Nanoparticles -->
<div class="container human-practices">
  <h3 class="liposomes">Liposomes and Lipid Nanoparticles</h3>
  {{ $params := .Params }}
  {{ $keys := slice "roemer" "munos" "makshakova" "heerklotz" "ruppl"  "bender" "hessj" "ramasamy" "kirchmair" "germer" }} 
  {{ range $keys }}
    {{ $name := index $params . }}
    {{ $text := index $params (printf "t-%s" .) | safeHTML }}
    {{ $portraitUrl := index $params (printf "p-%s" .) }}  
    {{ $icons := index $params (printf "i-%s" .) }}   
    <div class="drop drop-liposomes" onclick="toggleDescription(this)">
      {{ $name }}
      <button class="toggle-btn">+</button>
    </div>
    <div class="description">
      <div class="portrait-container">
        <img src="{{ $portraitUrl }}" alt="Portrait" class="portrait">
        <div class="icons">
          {{ $iconList := split $icons ", " }} <!-- Note the space after the comma -->
          {{ range $iconList }}
            {{ $iconParts := split . "|" }}
            <a href="{{ index $iconParts 1 }}" target="_blank">
              <img src="{{ index $iconParts 0 }}" alt="Icon" class="icon">
            </a>
          {{ end }}
        </div>
      </div>
      <p>{{ $text }}</p>
    </div>
  {{ end }}
</div>

<!-- Outer Membrane Vesicles -->
<div class="container human-practices">
  <h3 class="omvs">Outer Membrane Vesicles</h3>
  {{ $params := .Params }}
  {{ $keys := slice "putnam" "mueller" "delisa" "huang" "rabe" "kirpat" }} 
  {{ range $keys }}
    {{ $name := index $params . }}
    {{ $text := index $params (printf "t-%s" .) | safeHTML }} <!-- safeHTML for line breaks <br> to show up -->
    {{ $portraitUrl := index $params (printf "p-%s" .) }}  
    {{ $icons := index $params (printf "i-%s" .) }}   
    <div class="drop drop-omvs" onclick="toggleDescription(this)">
      {{ $name }}
      <button class="toggle-btn">+</button>
    </div>
    <div class="description">
      <div class="portrait-container">
        <img src="{{ $portraitUrl }}" alt="Portrait" class="portrait">
        <div class="icons">
          {{ $iconList := split $icons ", " }} <!-- Note the space after the comma -->
          {{ range $iconList }}
            {{ $iconParts := split . "|" }}
            <a href="{{ index $iconParts 1 }}" target="_blank">
              <img src="{{ index $iconParts 0 }}" alt="Icon" class="icon">
            </a>
          {{ end }}
        </div>
      </div>
      <p>{{ $text }}</p>
    </div>
  {{ end }}
</div>

<!-- Modeling -->
<div class="container human-practices">
  <h3 class="modeling">Modeling</h3>
  {{ $params := .Params }}
  {{ $keys := slice "walentek" "helmstaedter" "dzubiella" }} 
  {{ range $keys }}
    {{ $name := index $params . }}
    {{ $text := index $params (printf "t-%s" .) | safeHTML }}
    {{ $portraitUrl := index $params (printf "p-%s" .) }}  
    {{ $icons := index $params (printf "i-%s" .) }}   
    <div class="drop drop-modeling" onclick="toggleDescription(this)">
      {{ $name }}
      <button class="toggle-btn">+</button>
    </div>
    <div class="description">
      <div class="portrait-container">
        <img src="{{ $portraitUrl }}" alt="Portrait" class="portrait">
        <div class="icons">
          {{ $iconList := split $icons ", " }} <!-- Note the space after the comma -->
          {{ range $iconList }}
            {{ $iconParts := split . "|" }}
            <a href="{{ index $iconParts 1 }}" target="_blank">
              <img src="{{ index $iconParts 0 }}" alt="Icon" class="icon">
            </a>
          {{ end }}
        </div>
      </div>
      <p>{{ $text }}</p>
    </div>
  {{ end }}
</div>


<!-- Safety and Ethics -->
<div class="container human-practices">
  <h3 class="safety">Safety & Ethics</h3>
  {{ $params := .Params }}
  {{ $keys := slice "boldt" "kurreck" }} 
  {{ range $keys }}
    {{ $name := index $params . }}
    {{ $text := index $params (printf "t-%s" .) | safeHTML }}
    {{ $portraitUrl := index $params (printf "p-%s" .) }}  
    {{ $icons := index $params (printf "i-%s" .) }}   
    <div class="drop drop-safety" onclick="toggleDescription(this)">
      {{ $name }}
      <button class="toggle-btn">+</button>
    </div>
    <div class="description">
      <div class="portrait-container">
        <img src="{{ $portraitUrl }}" alt="Portrait" class="portrait">
        <div class="icons">
          {{ $iconList := split $icons ", " }} <!-- Note the space after the comma -->
          {{ range $iconList }}
            {{ $iconParts := split . "|" }}
            <a href="{{ index $iconParts 1 }}" target="_blank">
              <img src="{{ index $iconParts 0 }}" alt="Icon" class="icon">
            </a>
          {{ end }}
        </div>
      </div>
      <p>{{ $text }}</p>
    </div>
  {{ end }}
</div>

<!-- Treatment Implementation -->
<div class="container human-practices">
  <h3 class="treatment">Treatment Implementation</h3>
  {{ $params := .Params }}
  {{ $keys := slice "tuemmler" "reski"}} 
  {{ range $keys }}
    {{ $name := index $params . }}
    {{ $text := index $params (printf "t-%s" .) | safeHTML }}
    {{ $portraitUrl := index $params (printf "p-%s" .) }} 
    {{ $icons := index $params (printf "i-%s" .) }}
    <div class="drop drop-treatment" onclick="toggleDescription(this)">
      {{ $name }}
      <button class="toggle-btn">+</button>
    </div>
    <div class="description">
      <div class="portrait-container">
        <img src="{{ $portraitUrl }}" alt="Portrait" class="portrait">
        <div class="icons">
          {{ $iconList := split $icons ", " }} <!-- Note the space after the comma -->
          {{ range $iconList }}
            {{ $iconParts := split . "|" }}
            <a href="{{ index $iconParts 1 }}" target="_blank">
              <img src="{{ index $iconParts 0 }}" alt="Icon" class="icon">
            </a>
          {{ end }}
        </div>
      </div>
      <p>{{ $text }}</p>
    </div>
  {{ end }}
</div>

<!-- Healthcare and Prevention -->
<div class="container human-practices">
  <h3 class="healthcare">Healthcare & Prevention</h3>
  {{ $params := .Params }}
  {{ $keys := slice "grundmann" "rieg" }} 
  {{ range $keys }}
    {{ $name := index $params . }}
    {{ $text := index $params (printf "t-%s" .) | safeHTML }}
    {{ $portraitUrl := index $params (printf "p-%s" .) }}  
    {{ $icons := index $params (printf "i-%s" .) }}   
    <div class="drop drop-healthcare" onclick="toggleDescription(this)">
      {{ $name }}
      <button class="toggle-btn">+</button>
    </div>
    <div class="description">
      <div class="portrait-container">
        <img src="{{ $portraitUrl }}" alt="Portrait" class="portrait">
        <div class="icons">
          {{ $iconList := split $icons ", " }} <!-- Note the space after the comma -->
          {{ range $iconList }}
            {{ $iconParts := split . "|" }}
            <a href="{{ index $iconParts 1 }}" target="_blank">
              <img src="{{ index $iconParts 0 }}" alt="Icon" class="icon">
            </a>
          {{ end }}
        </div>
      </div>
      <p>{{ $text }}</p>
    </div>
  {{ end }}
</div>

<!-- The Need -->
<div class="container human-practices">
  <h3 class="need">The Need</h3>
  {{ $params := .Params }}
  {{ $keys := slice "dambach" }} 
  {{ range $keys }}
    {{ $name := index $params . }}
    {{ $text := index $params (printf "t-%s" .) | safeHTML }}
    {{ $portraitUrl := index $params (printf "p-%s" .) }}  
    {{ $icons := index $params (printf "i-%s" .) }}   
    <div class="drop drop-need" onclick="toggleDescription(this)">
      {{ $name }}
      <button class="toggle-btn">+</button>
    </div>
    <div class="description">
      <div class="portrait-container">
        <img src="{{ $portraitUrl }}" alt="Portrait" class="portrait">
        <div class="icons">
          {{ $iconList := split $icons ", " }} <!-- Note the space after the comma -->
          {{ range $iconList }}
            {{ $iconParts := split . "|" }}
            <a href="{{ index $iconParts 1 }}" target="_blank">
              <img src="{{ index $iconParts 0 }}" alt="Icon" class="icon">
            </a>
          {{ end }}
        </div>
      </div>
      <p>{{ $text }}</p>
    </div>
  {{ end }}
</div>







