<div class="partcollection" style="border-radius: 10px; border:#06d7fc 4px solid;margin-top:20px;">
    <table>
        <h2 class="ma0 white" style="background-color:#06d7fc; border-radius:0px;" id="{{.Get "id"}}">{{.Get "name"}} </h2>
        <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Function</th>
                </tr>
            </thead>
            <tbody>
                {{.Inner}}
                </tbody>
                 </table>
    </div>